# CUSTOMER CHURN PREDICTOR - ENVIRONMENT VARIABLES TEMPLATE
# Instructions: Copy this file to '.env' and fill in your actual values.

# --- DVC & DagsHub Configuration (S3 Protocol) ---
# Retrieve from: DagsHub -> Remote -> Data -> DVC -> Setup -> Step 4
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
DAGSHUB_S3_ENDPOINT_URL=https://dagshub.com/api/v1/repo-buckets/s3/chanhbui297

# --- MLflow Configuration ---
# Used to track experiments and log model artifacts to DagsHub
MLFLOW_TRACKING_URI=https://dagshub.com/chanhbui297/DSEB65A-Group04-customer-churn-predictor.mlflow
MLFLOW_TRACKING_USERNAME=your_dagshub_username
MLFLOW_TRACKING_PASSWORD=your_dagshub_token_here

# --- Monitoring & GitHub Integration ---
# Personal Access Token (PAT) used by the monitoring script to trigger workflows
TOKENFORMLOPS=your_github_pat_token
GITHUB_REPOSITORY=chanhbui297/DSEB65A-Group04-customer-churn-predictor

# --- Application Settings ---
# Backend API address. 
# Local run: http://localhost:8000
# Docker run: http://fastapi:8000
API_URL=http://localhost:8000
MODEL_PATH=models/model.pkl
LOG_LEVEL=INFO